*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    color: white;
}
:root{
    --bgcol: #1c181c;
    --clr: #0c0c0c;
}
html,body{
    background: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    width: 100%;height: 12.5vh;display: flex;justify-content: space-between;
    padding: 2.5vh 4vw;
}
.info{
    border: 2px solid #3d3d3d;
    padding: .5vh 2.8vw;border-radius: 8vh;
}
.bord{
    width: 92vw;
    height: 85vh;
    border: 1.3px solid rgba(255, 255, 255, 0.334);
    margin: auto;
    flex-grow: 1;
    display: grid;
    border-radius: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}
.blk{
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
}
.fill{
    background-color: rgba(153, 205, 50, 0.53);
    border-radius: 50%;
}
.food{
    background-color: rgba(255, 0, 0, 0.482);
    border-radius: 50%;
}
.ftrbutton{
    width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;
    background-color: #353535;backdrop-filter: blur(.3px);
    display: flex;justify-content: center;align-items: center;
}
.ftrbutton .strgm,
.ftrbutton .restrt{
    display: flex;flex-direction: column;align-items: center;gap: 1vw;
}
.btn{
    cursor: pointer;border-radius: .5vw;border: none;padding: 2vh 1.5vw;background-color: plum;
}
.ftrbutton .restrt{
    display: none;
}